.intro {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: $font-size-base;
  color: $text-color-assist;

  image {
    width: 165rpx;
    height: 165rpx;
  }

  .tips {
    line-height: 72rpx;
    text-align: center;
  }
}

.bottom {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 40rpx;

  .login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10rpx 0;
    background-color: #ADB838;
    border-radius: 50rem !important;

    image {
      width: 36rpx;
      height: 30rpx;
      margin-right: 10rpx;
    }
  }

  .row {
    .grid {
      width: 20%;

      image {
        width: 60rpx;
        height: 60rpx;
        margin-bottom: 10rpx;
      }
    }
  }
}