page {
  background-color: #ffffff;
}

.cell {
  padding: 30rpx;
  display: flex;
  align-items: center;
  position: relative;

  .content {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: $font-size-base;
    color: $text-color-base;

    .icon {
      width: 70rpx;
      height: 70rpx;
      margin-right: 10rpx;
    }
  }

  .navigator {
    width: 50rpx;
    height: 50rpx;
    position: relative;
    margin-right: -10rpx;
    flex-shrink: 0;
  }

  &:after {
    content: "";
    position: absolute;
    border-bottom: 2rpx solid #d9d9d9;
    -webkit-transform: scaleY(0.8);
    transform: scaleY(0.8);
    bottom: 0;
    right: 30rpx;
    left: 30rpx;
  }
}