.bottom-box uni-button {
  width: 100%;
  height: 35px;
  line-height: 35px;
  border-radius: 50rem !important;
  margin-bottom: 15px;
}

uni-button[type=primary] {
  background-color: #ADB838;
  color: #ffffff;
  font-size: 14px;
}

.container {
  padding: 0 40rpx;
}

.balance-info {
  padding: 50rpx 10rpx;

  view {
    height: calc(366 / 638 * 340);
    padding: 10rpx 0;
  }

  image {
    width: 340rpx;
  }
}

.amounts {
  margin-bottom: 40rpx;

  .amount {
    width: calc(96% / 3);
    padding: 50rpx 0;
    margin-bottom: 20rpx;
    border-radius: 8rpx;
  }
}

.bottom-box {
  padding: 0 40rpx;
  box-shadow: 0 0 20rpx rgba(6, 6, 6, 0.1);

  .protocol {
    padding: 36rpx 0;
    height: 100rpx;

    view {
      margin-right: 10rpx;
    }
  }

  button {
    height: 70rpx;
    line-height: 70rpx;
    border-radius: 50rem !important;
    margin-bottom: 30rpx;
  }
}