/* #ifdef H5 */
page {
  height: 100%;
}

/* #endif */

uni-button[type=primary] {
  background-color: #ADB838;
  color: #ffffff;
  font-size: 14px;
}

.container {
  display: flex;
  flex-direction: column;
}

.exchange-box {
  flex-shrink: 0;
  height: 200rpx;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .input-box {
    display: flex;
    align-items: stretch;
    width: 70%;
    flex-shrink: 0;

    input {
      flex: 1;
      height: 80rpx;
      border: 1rpx solid #eee;
      border-right: 0;
      border-radius: 8rpx 0 0 8rpx;
      padding: 20rpx;
      font-size: $font-size-base;
      color: $text-color-base;
    }

    button {
      border-radius: 0 8rpx 8rpx 0;
      display: flex;
      align-items: center;
    }
  }
}

.tabbar {
  flex-shrink: 0;
  width: 100%;
  height: 120rpx;
  display: flex;
  align-items: center;
  justify-content: center;

  .tab {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: $font-size-base;
    color: $text-color-base;
    position: relative;

    .title {
      padding: 15rpx 0;
    }

    &.active {
      color: $color-primary;

      .title {
        border-bottom: 5rpx solid $color-primary;
      }
    }
  }
}

.bottom-box {
  height: 80rpx;
  flex-shrink: 0;

  .item {
    padding: 0 20rpx;
    position: relative;

    &::after {
      content: " ";
      border-right: 1rpx solid $text-color-assist;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      transform: scaleX(0.5) scaleY(0.8);
    }

    &:nth-last-child(1)::after {
      border-right: 0;
    }
  }
}

.coupon-list {
  height: calc(100vh - 80rpx - 120rpx - 200rpx);
  /* #ifdef H5 */
  height: calc(100vh - 80rpx - 120rpx - 200rpx - 44px);
  /* #endif */
}

.wrapper {
  padding: 0 40rpx;
  display: flex;
  flex-direction: column;

  .coupon {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-bottom: 30rpx;
    padding: 0 30rpx;
    border-radius: 6rpx;
    box-shadow: 0 10rpx 10rpx -10rpx rgba(15, 15, 15, 0.1);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-color: $bg-color;
      width: 30rpx;
      height: 30rpx;
      bottom: 65rpx;
      left: -15rpx;
      border-radius: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: $bg-color;
      width: 30rpx;
      height: 30rpx;
      bottom: 65rpx;
      right: -15rpx;
      border-radius: 100%;
    }

    .detail {
      padding: 20rpx 0;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-bottom: 1rpx dashed #c6c6c6;
        transform: scaleY(0.5);
      }

      .coupon-img {
        width: 150rpx;
        height: 150rpx;
        margin-right: 40rpx;
      }
    }
  }
}

.use-coupon-btn {
  width: 95%;
  border-radius: 50rem !important;
}