.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  image {
    width: 260rpx;
    height: 260rpx;
    position: relative;
    margin-top: 200rpx;
  }
}