uni-button[type=primary] {
  background-color: #ADB838;
  color: #ffffff;
}

uni-button[type='primary'][plain] {
  background-color: #fff;
  color: #ADB838;
  border: 0.03125rem solid #ADB838;
}

.container {
  display: flex;
  flex-direction: column;
}

.tabbar {
  width: 100%;
  height: 100rpx;
  border-top: 1rpx solid $border-color;
  background-color: $text-color-white;
  display: flex;
  align-items: stretch;
  font-size: $font-size-lg;

  .item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &.active {
      color: $color-primary;

      &:after {
        content: "";
        position: absolute;
        width: 40rpx;
        height: 10rpx;
        background-color: $color-primary;
        border-radius: 50rem !important;
        bottom: 0;
        left: calc((100% - 40rpx) / 2);
      }
    }
  }
}

.swiper {
  flex: 1;
}

.swiper-item-1 {
  height: 100%;

  .themes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .theme {
      width: 340rpx;
      margin-top: 30rpx;
      border-radius: 24rpx;
      background-color: $text-color-white;
      display: flex;
      flex-direction: column;
      box-shadow: $box-shadow;

      image {
        border-radius: 24rpx 24rpx 0 0;
        max-height: 300rpx;
      }
    }

    .activity-name {
      font-size: $font-size-base;
      padding: 20rpx 0;
      text-align: center;
    }
  }

  .footer {
    z-index: 10;
    background-color: $bg-color;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-sm;
    color: $color-primary;

    .divider {
      height: 0.6rem;
      width: 4rpx;
      background-color: $color-primary;
      margin: 0 20rpx;
    }
  }
}

.swiper-item-2 {
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    height: 110rpx;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 30rpx;
    font-size: $font-size-sm;

    .gift-card-types {
      display: flex;
      align-items: stretch;

      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20rpx;

        &.active {
          background-color: #ffffff;
          box-shadow: $box-shadow;
          border-radius: 50rem !important;
          color: $color-primary;
        }
      }
    }
  }

  .footer {
    z-index: 10;
    background-color: $text-color-white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10rpx 40rpx;
    box-shadow: 0 -10rpx 10rpx rgba($color: #eee, $alpha: 0.1);

    button {
      width: 310rpx;
      height: 100%;
      line-height: 80rpx;
      border-radius: 50rem !important;
      font-size: $font-size-lg;
    }
  }
}