uni-button[type=primary] {
  background-color: #ADB838;
  color: #ffffff;
  font-size: 14px;
}

.header {
  position: relative;
  width: 100%;
  height: 33.333vh;

  image {
    width: 100%;
    height: 100%;
  }
}

.sign-in-info {
  position: absolute;
  width: 100%;
  height: 33.333vh;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;

  .left {
    color: #ffffff;
    margin-left: 40rpx;
    flex: 1;
    display: flex;

    .integral-icon {
      width: 64rpx;
      height: 64rpx;
      margin-right: 20rpx;
    }

    .number {
      font-size: 80rpx;
      margin-right: 10rpx;
    }
  }

  .right {
    background-color: #ffffff;
    color: $color-primary;
    font-size: $font-size-base;
    border-radius: 50rem 0 0 50rem;
    padding: 10rpx 30rpx;
  }
}

.sign-in-box {
  position: relative;
  background-color: #ffffff;
  margin-top: -90rpx;
  margin-bottom: 30rpx;
  width: 100%;
  border-radius: 8rpx;
  box-shadow: 0 0 20rpx rgba($color: #000000, $alpha: 0.1);
  padding: 20rpx;
  display: flex;
  flex-direction: column;

  .sign-in-btn {
    width: 50%;
    border-radius: 50rem !important;
  }

  .attendance-active-btn {
    opacity: 0.65;
  }
}

.banner {
  width: 100%;
  margin: 30rpx 0;
  border-radius: 8rpx;

  image {
    width: 100%;
  }
}

.point-box {
  width: 49%;
  margin-bottom: 30rpx;
  border-radius: 8rpx;
  padding: 20rpx;
}